body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  color: #003f87;
}

a {
  color: #a6192e;
}

h1, h2, h3 {
  color: #003f87;
}

button, .cta {
  background-color: #f2b100;
  color: #003f87;
  padding: 10px;
  text-transform: uppercase;
}
